/* Header */
body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
.head {
    background-color: #1F2937;
    height: 500px;
    color: #ffffff;
    padding: 16px 16px;
    text-align: center;
}
h1 {
    font-size: 45px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 3px;
}
p{
    font-size: 16px;
    color: #E5E7EB;
    margin-top: 0;
}
button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 9px 20px;
    border: none;
    font-size: 16px;
    width: 120px;
}
.header {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-bottom: 85px;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
    align-items: center;
}
li {
    font-size: 20px;
}
a {
    color: #F9FAF8;
    text-decoration: none;
}
.body{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
}
.body-left {
    text-align: justify;
    width: 500px;
    padding: 0;
}

/* Section 2 */
.head_2 {
    text-align: center;
    height: 500px;
    margin-bottom: 200px;
}
h2 {
    font-size: 42px;
    font-weight: 700;  
    padding-bottom: 15px; 
}
.container {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 80%;
    margin: auto;
}
.info {
    width: 20%;
    max-height: 200px;
}
.pics {
    border-radius: 20px;
    border: 5px solid #3882F6;
    height: 200px;
    width: 100%;
}
.text {
    color: #000;
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
}

/* SECTION-3 */
.head-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 350px;
    padding: 30px;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    max-width: 850px;
    margin-bottom: 0;
}
.writer {
    color: #1F2937;
    font-weight: bold;
    max-width: 300px;
    font-size: 25px;
    text-align: right;
    margin-top: 0;
}